.Heading {
    text-align: center;
    margin: 10px 0px !important;
}
.Inner {
    padding: 0px 25px !important;
    font-size: 1.4em;
    overflow: auto;
    flex: 1;
}
.Buttons {
    padding: 0 20px;
    font-size: 1.6em;
    margin-top: 30px !important;
}
.ActionButtons button {
    font-size: .6em;
}