.PopupInner {
    font-size: 1.4em;
}
.PopupHeading {
    font-weight: 600;
    align-items: center;
    margin-bottom: 30px;
}
.PopupInputs {
    margin: 0 auto;
    width: 70%;
}
.PopupButtons {
    margin-top: 25px;
    align-items: center;
    & > button {
        width: 180px;
    }
    & > div {
        margin-top: 25px !important;
        justify-content: center;
    }
}
.CombinedMessage {
    text-align: center;
    align-items: center;
    & > button {
        padding: 4px 25px;
        margin-top: 25px !important;
        margin-bottom: 10px !important;
    }
}

.OverflowWrapper {
    width: 100%;
    word-break: break-word;
    text-align: center;
}
.ScrollerAuto {
    overflow-x: hidden;
    overflow-y: auto;
}