@font-face {
    font-family: 'Titillium Web';
    font-weight: 300;
    src: local('Titillium Web'), url('./TitilliumWeb-Light.ttf')  format('truetype');
}
@font-face {
    font-family: 'Titillium Web';
    font-weight: 400;
    src: local('Titillium Web'), url('./TitilliumWeb-Regular.ttf')  format('truetype');
}
@font-face {
    font-family: 'Titillium Web';
    font-weight: 600;
    src: local('Titillium Web'), url('./TitilliumWeb-SemiBold.ttf')  format('truetype');
}
@font-face {
    font-family: 'Titillium Web';
    font-weight: 700;
    src: local('Titillium Web'), url('./TitilliumWeb-Bold.ttf')  format('truetype');
}