.PopupHeading {
    font-weight: 600;
    align-items: center;
    margin-bottom: 30px;
    font-size: 1.4em;
}

.LogTimesContainer {
    max-height: 450px;
    overflow: auto;
}

.log {
    position: relative;
    font-size: .85em;
    span:last-child {
        margin-left: 0;
    }
    .ActionButton {
        position: absolute;
        top: 0;
        right: 0;
        font-size: .8em;
    }
}