.placeholder {
    display: contents;
}
.bottomRight {
    margin: 0 !important;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1;
}
.DrawerInner {
    width: 25vw !important;
    min-width: 190px;
    min-height: 0 !important;
    padding: 10px 15px;
}
